<header id="header">
    <div class="center">
        <!-- LOGO -->
        <div id="logo">
            <img src="/assets/images/brand-jedi-order-svgrepo-com.svg" class="app-logo" 
            alt="Logotipo" />
            <span id="brand">
                <strong>Jedi</strong>Order
            </span>
        </div>
        
        <!-- MENU -->
        <nav id="menu">
            <ul>
                <li>
                    <a routerLink="inicio">Inicio</a>
                    <i class="fas fa-jedi app-logo"></i>
                </li>
                <li>
                    <a routerLink="blog">Blog</a>
                </li>
                <li>
                    <a routerLink="formulario">Formulario</a>
                </li>
                <li>
                    <a routerLink="clones">Clones</a>
                </li>
                <li>
                    <a routerLink="order">Order 66</a>
                </li>                            
            </ul>
        </nav>
 
        <!--LIMPIAR FLOTADOS-->
        <div class="clearfix"></div>
    </div>
</header>